<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="itzmaniss">
        <meta name="Description" content="This webpage is my personal portfolio site which i used to learn html css and javascript as well">
        <link rel="icon" type="favicon.ico" href="/public/favicon.ico">
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="/public/script.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/styles.css">
    
        <title>itzmaniss.dev</title>
    </head>

    <body>
        <secition name="Intro">
            <div class="main" >
                <div class="intro" hx-trigger = "load">
                    <p>Hey there!</p>
                    <p>I am Manish</p>
                    <p class="type-out"></p>
                </div>
                <img src="./public/main-pic.jpg" class="main-pic">
            </div>

            <div class="about-me">
                <div class="title">
                    About me!
                </div>
                <div class="text project-desc">
                    <p>~ A self-taught programmer with a passion for building innovative solutions. </p>
                    <p>~ From tinkering with Arduino to tackling complex algorithms, my journey has been marked by continuous learning and a drive to overcome challenges. </p>
                    <p>~ Excited to use my skills to create software that makes a real-world impact.</p>
                </div>
            
            </div>
        </secition>

        <section name="exposures">
            <div class="projects">
                <div class="title">
                    My Favourite Projects!
                </div>
                <div class="project-container" hx-post = "/projects" hx-trigger = "load">
                    Loading...
                </div>
                <div class="link">
                    <a href="https://github.com/itzmaniss?tab=repositories" target="_blank">Check out the rest of my projects here!</a>
                </div>
            </div>

            <div class="experiences">
                <div class="title">
                    Real-World Exposures
                </div>

                <div class="experience-container" hx-post = "/experiences" hx-trigger = "load">
                    Loading...
                </div>
            </div>
        </section>

        <section name="Contact-info">
            <h1  class="contact-header">Contact Me</h1>
            <div class="contact-info">
                <div class="email">
                    <form hx-post="/email" hx-target="#response">    
                        <span class="form-name">
                            Name:
                            <input type="text" name="name" placeholder="name">
                        </span>
                        <span class="form-message">
                            Your Message: 
                            <textarea name="message" placeholder="Your Message!"></textarea>
                        </span>
                        <button type="submit" name="email" class="email-button">Email Me📩</button>
                        <div id="response"></div>
                    </form>
                    
                </div>

                <div class="socials-container">
                    <span class="social-title">My Socials</span>
                    <div class="social" hx-post="/socials" hx-trigger="load">
                        socialising...
                    </div>
                </div>
            </div>
        </section>

    </body>


</html>
